::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important; }

::-webkit-scrollbar-thumb {
  background: #cacaca !important;
  border-right: 2px solid #fafafa !important;
  border-left: 2px solid #fafafa !important;  }


.o_main_navbar {
    height: 64px !important;
    background-color: #fff !important;
    color: #5d5d5d !important;
    border-bottom: none !important;
    -webkit-box-shadow: 0px 0px 8px #5d5d5d !important;
    box-shadow: 0px 0px 8px #5d5d5d !important; }

.o_main_navbar > .o_menu_brand {
  color: #5D5D5D !important;
  line-height: 64px !important;
  margin-right: 35px !important;
  margin-left: 35px !important; }

.o_main_navbar > a, .o_main_navbar > button {
  color: #5D5D5D !important;
  float: left !important;
  height: 64px !important;
  line-height: 64px !important; }

.o_main_navbar .show .dropdown-toggle {
  background-color: #9E9E9E !important; }

.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
  line-height: 64px !important;
  color: #5D5D5D !important;
  height: 64px !important; }

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
  background-color: #e4e4e4 !important; }

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
  background-color: #e4e4e4 !important;  }


.o_searchview .o_searchview_facet .o_searchview_facet_label {
  background-color: #5D5D5D !important; }

.btn-primary {
  background-color: #5d5d5d !important;
  border-color: #607D8B !important; }

.btn-secondary {
    background-color: white !important;
    border-color: white !important;
    color: #5d5d5d !important;  }

.o_home_menu .o_home_menu_scrollable .o_apps .o_app .o_caption {
    display: block !important;
    max-width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-shadow: none !important;
    vertical-align: top !important;
    margin-top: 8px !important;
    color: #5d5d5d !important;
    font-size: 18px !important;
    font-weight: 300 !important;  }

.o_home_menu_background {
  background: linear-gradient(to right bottom, var(--white), var(--light)) !important; }

.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem {
  color: #5d5d5d !important; }

.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem .o_menuitem_parents {
  color: #5d5d5d !important; }

.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem:hover .o_menuitem_parents,
.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem:focus .o_menuitem_parents,
.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem.o_focused .o_menuitem_parents {
  color: #5d5d5d !important;
  font-weight: 500 !important; }


.o_home_menu .o_home_menu_scrollable .o_menuitems .o_menuitem .o_menuitem_parents {
  color: #5d5d5d !important; }

.o_menu_search .o_menu_search_input {
  color: #5d5d5d !important;
  text-shadow: none !important;
  font-size: 24px !important;
  font-weight: 300 !important;   }

.o_menu_search .o_menu_search_icon {
  font-size: 24px !important;
  color: #5d5d5d !important;
  font-weight: 300 !important;
  text-shadow: none !important; }

.o_menu_search.o_bar_hidden {
  opacity: 1 !important; }

.o_menu_search {
  border-radius: 0 !important; }

a {
      color: #03A9F4 !important; }

html .o_loading {      
  position: fixed !important;
  top: 0 !important;
  right: 50% !important;
  z-index: 1051 !important;
  height: 30px !important; }

.o_loading {
  background-color: #FF5722 !important;
  color: white !important;
  padding: 4px !important; }
